{% extends 'base.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <h1>Личный кабинет</h1>

    <div class="row">
        <div class="col-xl-2">
            {{ knp_menu_render('account') }}
        </div>

        <div class="col">
            {% block account_content '' %}
        </div>

    </div>
{% endblock %}
