{% extends 'base.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
{#    <h1>Личный кабинет</h1>#}

    <div style="margin: 8px 0;">
        {{ knp_menu_render('account') }}
    </div>

{#    {% block account_content '' %}#}

{% endblock %}
