{% extends 'account/_layout.html.twig' %}

{% block title %}Мой баланс - {{ parent() }}{% endblock %}

{% block content %}
    {{ parent() }}

    <h2>Мой баланс</h2>

    <p>@todo </p>
{% endblock %}
