{% extends 'account/_layout.html.twig' %}

{% block account_content %}
    <h2>Сменить пароль</h2>

    {% if form is defined %}
        {{ form(form) }}
    {% endif %}
{% endblock account_content %}
