{% extends 'account/_layout.html.twig' %}

{% block account_content %}
    <h2>Мой профиль</h2>
    {% if form is defined %}
        <p>
            <b>Логин:</b> {{ app.user.username }}
        </p>

        <p>
            <b>Email:</b> {{ app.user.email }}
        </p>


        <h3>@todo:</h3>
        <ul>
            <li>Город или село (место фактического проживания) - выбор из геобазы</li>
            <li><b>Автоопределение города:</b> {{ city }}</li>
        </ul>

        {{ form(form) }}

    {% endif %}
{% endblock account_content %}
