{% extends 'base.html.twig' %}

{% block title %}Редактирование метода доставки - Админка{% endblock %}

{% block content %}
    <h1>Редактирование метода доставки</h1>

    {{ form(form) }}

{% endblock  %}
