{% if product.status == 1 %}
    <span class="badge badge-success">{{ product.statusAsText }}</span>
{% elseif product.status == 0 %}
    <span class="badge badge-danger">{{ product.statusAsText }}</span>
{% elseif product.status == 2 %}
    <span class="badge badge-info">{{ product.statusAsText }}</span>
{% else %}
    <span class="badge badge-light">{{ product.statusAsText }}</span>
{% endif %}
