{% extends 'base.html.twig' %}

{% block title %}Редактирование метода платежа - Админка{% endblock %}

{% block content %}
    <h1>Редактирование метода платежа</h1>

    {{ form(form) }}

{% endblock  %}
