{% extends 'base.html.twig' %}

{% block title %}Админка{% endblock %}

{% block content %}

    <h1>Админка</h1>

    <a href="{{ path('admin_user') }}">Пользователи</a>
    <br>
    <a href="{{ path('admin_coop') }}">Кооперативы</a>
    <br>

{% endblock %}
