{% extends 'base.html.twig' %}

{% block title %}Редактирование целевой программы - Админка{% endblock %}

{% block content %}
    <h1>Редактирование целевой программы</h1>

    {{ form(form) }}

{% endblock  %}
