{% extends 'base.html.twig' %}

{% block title %}Добавление целевой программы - Админка{% endblock %}

{% block content %}
    <h1>Добавление целевой программы</h1>

    {{ form(form) }}

{% endblock %}
