{% extends 'base.html.twig' %}

{% block title %}Редактирование налоговой ставки - Админка{% endblock %}

{% block content %}
    <h1>Редактирование налоговой ставки</h1>

    {{ form(form) }}

{% endblock  %}
