{% extends 'base.html.twig' %}

{% block title %}Целевые программы{% endblock %}

{% block content %}
    <h1>Целевые программы</h1>

    <p>@todo </p>
{#    {{ texter('homepage') }}#}

{% endblock %}
