{% extends 'base.html.twig' %}

{% block title %}Добавление налоговой ставки - Админка{% endblock %}

{% block content %}
    <h1>Добавление налоговой ставки</h1>

    {{ form(form) }}

{% endblock %}
