{% extends 'account/_layout.html.twig' %}

{% block account_content %}
    <h2>Добавить на сайт новый кооператив</h2>

    {{ form(form) }}
{% endblock %}

{% block js %}
    {{ parent() }}

    <script>
      $(document).ready(function() {
        $('#cooperative_create_city').select2({
          ajax: {
            url: '{{ path('api_geo_cities') }}',
            dataType: 'json',
            delay: 700
          },
          placeholder: 'Выберите город',
          allowClear: true,
          minimumInputLength: 1
        });
      });
    </script>
{% endblock %}
