{% extends 'account/_layout.html.twig' %}

{% block content %}
    {{ parent() }}

    <h2>Редактирование кооператива</h2>

    {{ form(form) }}
{% endblock %}

{% block js %}
    {{ parent() }}

    {% include '_snippet/select2_city.twig' with {'selector': 'cooperative_city'} %}

{% endblock %}
