{% extends 'base.html.twig' %}

{% block title %}Регистрация в СОНМ - Союз Кооператоров{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm-8">
            <h1>Регистрация</h1>

            {{ form(form) }}
        </div>
        <div class="col-sm"></div>
    </div>
{% endblock %}
